.headerDashboard {
  width: 100%;
  height: 75px;
  padding: 20px;
  position: fixed;
  z-index: 100;
  background-color: #d9d9d9;
  opacity: .9;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

.divNav {
  display: flex;
  align-items: center;
}

.fontNav {
  display: flex;
  align-items: center;
  font-size: 28px;
}

.imgPerfil {
  border-radius: 50%;
  height: 45px;
  margin-left: 3px ;
  padding: 5px;
  width: 45px;
}