.navHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 82px;
  padding-right: 82px;
}

.divNav {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.fontNav {
  align-items: center;
  display: flex;
  font-size: 28px;
}

.imgPerfil {
  border-radius: 50%;
  height: 45px;
  margin-left: 3px ;
  padding: 5px;
  width: 45px;
}